/* укажем шрифт для тега <body> - родителя всех элементов. так удобнее. */
body{
    font-family: Arial, Helvetica, sans-serif;
    border: solid;
    padding: 10pt;
}

.header{
    text-align: center;
}

.main{
    text-align: justify;
}

.footer{
    text-align: right;
}

h1{
    font-family: Verdana;
    font-size: 32pt;
    margin: 15px 0;
}
p{
    font-size: 14pt !important;
}

em{
    font-weight: normal;
}

.advertising{
    margin-left: 30pt;
}
.promo{
    font-size: 12pt;
    margin-top: 5pt;
    margin-bottom: 5pt;
}

.bigger{
    font-size: 16pt;
}


.pre{
    font-size: 14pt;
    font-family: monospace;
}

.doctype_html{
    color: rgb(0, 0, 250);
}

.english{
    color: rgb(215, 80, 2);
}


table.pricelist th, table.pricelist td{
    border: gray thin solid;
    padding: 4px;
}

table.catalog{
    border-collapse: collapse;
}

table.catalog td{
    border-top: black thin dotted;
    border-bottom: black thin dotted;
    padding: 10px;
}

table.catalog img{
    width: 200px;
}

table.pricelist thead th{
    color: white;
    background-color: grey;
}

.tfoot td{
    text-align: right;
    font-style: italic;
}

.nav{
    float: left;
    width: 150px;
    margin: 10px 30px 10px 0px;
    padding: 10px;
    border: black medium double;
    border-radius: 10px;
}

.nav div{
    font-size: 20pt;
    margin-top: 5px;
    margin-bottom: 5px;
}

nav a:link, nav a:visited{
    color: darkred;
    text-decoration: none;
}

nav a:active, nav a:hover{
    color: darksalmon;
    text-decoration: none;
}

table.catalog tr:first-child td{
    border-top: none;
}

table.catalog tr:last-child td{
    border-bottom: none;
}

table.catalog h3::after{
    content: ":";
}

form{
    width: 400px;
    padding: 0px 10px;
    border: thin dotted darkgray;
    border-radius: 5px;
}

input[type=submit]{
    font: bold 20pt;
    text-transform: uppercase;
    width: 250px;
    border: thin solid black;
    border-radius: 0px;
}

input[type=image]{
    border-style: none;
}

input:focus{
    border-color: red;
}
