/* укажем шрифт для тега <body> - родителя всех элементов. так удобнее. */
body{
    font-family: Arial, Helvetica, sans-serif;
    border: solid;
    padding: 10pt;
}

.header{
    text-align: center;
}

.main{
    text-align: justify;
}

.footer{
    text-align: right;
}

h1{
    font-family: Verdana;
    font-size: 32pt;
    margin: 15px 0;
}
p{
    font-size: 14pt !important;
}

em{
    font-weight: normal;
}

.advertising{
    margin-left: 30pt;
}
.promo{
    font-size: 12pt;
    margin-top: 5pt;
    margin-bottom: 5pt;
}

.bigger{
    font-size: 16pt;
}


.pre{
    font-size: 14pt;
    font-family: monospace;
}

.doctype_html{
    color: rgb(0, 0, 250);
}

.english{
    color: rgb(215, 80, 2);
}
